header{
    height: 100px;
}

nav{
    display:inline-block;
    width:35%;
    float:left;
}

a{
    display:block;
    margin: 10px;
}
article{
    display:inline-block;
    width:65%;
    float:right;
}
a{
    height:20px;
}

button:first-child{
    float: left;
}
button:last-child{
    float:right
}

input{
    display:block;
    width: 300px;
    height: 20px;
    padding:10px;
    margin: 0 auto 15px auto
}